# Data scaling
This notebook is used to prepare the S&P500 volume data to the correct format. We can obtain daily numbers but we need the volume of the last day of each month. The script below creates a new excel with this output dynamically.

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('data/GSPC_Daily_2011-2019.csv')
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')
data = data.set_index('Date')

In [5]:
# data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-03,1258.859985,1284.619995,1258.859985,1277.060059,1277.060059,3943710000
2012-01-04,1277.030029,1278.729980,1268.099976,1277.300049,1277.300049,3592580000
2012-01-05,1277.300049,1283.050049,1265.260010,1281.060059,1281.060059,4315950000
2012-01-06,1280.930054,1281.839966,1273.339966,1277.810059,1277.810059,3656830000
2012-01-09,1277.829956,1281.989990,1274.550049,1280.699951,1280.699951,3371600000
...,...,...,...,...,...,...
2019-12-24,3225.449951,3226.429932,3220.510010,3223.379883,3223.379883,1296540000
2019-12-26,3227.199951,3240.080078,3227.199951,3239.909912,3239.909912,2160680000
2019-12-27,3247.229980,3247.929932,3234.370117,3240.020020,3240.020020,2428670000
2019-12-30,3240.090088,3240.919922,3216.570068,3221.290039,3221.290039,3013290000
2019-12-31,3215.179932,3231.719971,3212.030029,3230.780029,3230.780029,2893810000

In [10]:
#Groupby year and month and take the last value of each month of each year. 
dataDownSampled = data.groupby([data.index.year, data.index.month]).tail(1)

In [11]:
# dataDownSampled

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-31,1313.530029,1321.410034,1306.689941,1312.410034,1312.410034,4235550000
2012-02-29,1372.199951,1378.040039,1363.810059,1365.680054,1365.680054,4482370000
2012-03-30,1403.310059,1410.890015,1401.420044,1408.469971,1408.469971,3676890000
2012-04-30,1403.260010,1403.260010,1394.000000,1397.910034,1397.910034,3574010000
2012-05-31,1313.089966,1319.739990,1298.900024,1310.329956,1310.329956,4557620000
...,...,...,...,...,...,...
2019-08-30,2937.090088,2940.429932,2913.320068,2926.459961,2926.459961,3008450000
2019-09-30,2967.070068,2983.850098,2967.070068,2976.739990,2976.739990,3247610000
2019-10-31,3046.899902,3046.899902,3023.189941,3037.560059,3037.560059,4139280000
2019-11-29,3147.179932,3150.300049,3139.340088,3140.979980,3140.979980,1743020000
2019-12-31,3215.179932,3231.719971,3212.030029,3230.780029,3230.780029,2893810000

In [12]:
dataDownSampled.to_excel('data/S&P500_End_Of_Month.xlsx')